'scopeName': 'source.agkbasic'
'name': 'AGK BASIC'
'fileTypes': ['agc']

'patterns': [
    {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.agkbasic'
    },
    {
        "begin": "\"",
        "beginCaptures": {
            "0": {
                "name": "punctuation.definition.string.begin.freebasic"
            }
        },
        "end": "\"",
        "endCaptures": {
            "0": {
                "name": "punctuation.definition.string.end.freebasic"
            }
        },
        "name": "string.quoted.double.agkbasic",
        "patterns": [
            {
                "include": "#string_escaped_char"
            },
            {
                "include": "#string_placeholder"
            }
        ]
    }
]
